
<h1>Welcome to the Ruby Test project !</h1>
<div class="welcomePage">
    <p>Click on the link below to test the application where you can :<p>
    <ul>
        <li>Create articles composed of a title and a content</li>
        <li>Update those articles</li>
        <li>Destroy those articles</li>
        <li>And of course visualize them</li>
    </ul>
    <%= link_to 'Click here to get started', controller: 'articles' %>
</div>
